configuration{
    combi-modi: "window,drun";
    modi: "combi";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "wezterm";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: true;
    hide-scrollbar: true;
    display-combi: " 🖥️ All ";
    display-drun: " 🏃 Run ";
    display-window: " 🪟 Window";
    sidebar-mode: true;
}

@theme "bluloco"
