.pentadactyl/info/default/command-history
.pentadactyl/info/default/local-marks
.pentadactyl/info/default/cache
.pentadactyl/info/default/quickmarks
.pentadactyl/info/default/register-ring
.pentadactyl/info/default/registers
.pentadactyl/info/default/url-marks
.config/ranger/history
.config/Trolltech.conf
.config/VirtualBox/
.config/chromium/
.config/Synergy
.config/dconf/
.config/gtk-2.0/
.config/libreoffice/
.config/nautilus/
.config/autostart/
.config/pulse/
.config/user-dirs.dirs
.config/user-dirs.locale
.i3status.conf
.ssh/*_rsa
.ssh/known_hosts
.mutt/cache/
.mutt/certificates/
