/.config/
!/.config/ranger/bookmarks
!/.config/ranger/img_display.py
!/.config/ranger/scope.sh
!/.config/ranger/rc.conf
/.i3status.conf
/.ssh/*_rsa
/.ssh/*_rsa.pub
/.ssh/known_hosts
/.mutt/cache/
/.mutt/certificates/
