!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

!-------------------------------------------------------------------------------
! URxvt settings
! Colours lifted from Solarized (http://ethanschoonover.com/solarized)
! More info at:
! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod
!-------------------------------------------------------------------------------

URxvt*termName: rxvt
URxvt.depth: 16
URxvt.geometry: 90x30
URxvt.transparent: false
URxvt.fading: 0
! URxvt.urgentOnBell: true
! URxvt.visualBell: true
URxvt.loginShell: true
! scrollback buffer lines - 65535 is max on most machines (64 is default)
URxvt*saveLines: 6000
URxvt.internalBorder: 3
URxvt.lineSpace: 0

! Fonts
URxvt*.font: xft:Source\ Code\ Pro\ for\ Powerline:Light:size=9

! Scrollbar
URxvt.scrollStyle: rxvt
URxvt.scrollBar: false

! Change font-size on the fly
! https://github.com/majutsushi/urxvt-font-size
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-Left:   perl:font-size:reset
URxvt.keysym.C-Right:  perl:font-size:reset

! Perl extensions
URxvt.perl-ext-common: default,matcher,font-size
URxvt.matcher.button: 1
URxvt.url-launcher: chromium

URxvt.pointerColorBackground: #93a1a1
URxvt.pointerColorForeground: #586e75
URxvt.pointerBlank: true
URxvt.cursorBlink: true
URxvt.cursorColor: #586e75
URxvt.cursorUnderline: false

URxvt.intensityStyles: false


URxvt*foreground: black
URxvt*background: white

URxvt*color0:  #2E3436
URxvt*color1:  #a40000
URxvt*color2:  #4E9A06
URxvt*color3:  #C4A000
URxvt*color4:  #3465A4
URxvt*color5:  #75507B
URxvt*color6:  #ce5c00
URxvt*color7:  #babdb9
URxvt*color8:  #555753
URxvt*color9:  #EF2929
URxvt*color10: #8AE234
URxvt*color11: #FCE94F
URxvt*color12: #729FCF
URxvt*color13: #AD7FA8
URxvt*color14: #fcaf3e
URxvt*color15: #EEEEEC
