!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

!-------------------------------------------------------------------------------
! URxvt settings
! Colours lifted from Solarized (http://ethanschoonover.com/solarized)
! More info at:
! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod
!-------------------------------------------------------------------------------

URxvt*termName: rxvt
URxvt.depth: 16
URxvt.geometry: 90x30
URxvt.transparent: false
URxvt.fading: 0
URxvt.loginShell: true
! scrollback buffer lines - 65535 is max on most machines (64 is default)
URxvt*saveLines: 65535
URxvt.internalBorder: 3
URxvt.lineSpace: 0

! Fonts
URxvt*.font: xft:Source\ Code\ Pro\ for\ Powerline:Light:size=14

! Scrollbar
URxvt.scrollStyle: rxvt
URxvt.scrollBar: false

! Change font-size on the fly
! https://github.com/majutsushi/urxvt-font-size
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-Left:   perl:font-size:reset
URxvt.keysym.C-Right:  perl:font-size:reset

! Perl extensions
URxvt.perl-ext-common: default,matcher,font-size
URxvt.matcher.button: 1
URxvt.url-launcher: chromium

URxvt.intensityStyles: false

urxvt.background:            #000000
urxvt.foreground:            #ffffff
urxvt.fadeColor:             #000000
urxvt.cursorColor:           #19cf86
urxvt.pointerColorBackground:#91d2fa
urxvt.pointerColorForeground:#19cf86

!! black dark/light
urxvt.color0:                #062531
urxvt.color8:                #002b36

!! red dark/light
urxvt.color1:                #e81c4f
urxvt.color9:                #ff691f

!! green dark/light
urxvt.color2:                #19cf86
urxvt.color10:               #19cf86

!! yellow dark/light
urxvt.color3:                #de9b00
urxvt.color11:               #ffffff

!! blue dark/light
urxvt.color4:                #1b95e0
urxvt.color12:               #1b95e0

!! magenta dark/light
urxvt.color5:                #ba3eff
urxvt.color13:               #ba3eff

!! cyan dark/light
urxvt.color6:                #91d2fa
urxvt.color14:               #91d2fa

!! white dark/light
urxvt.color7:                #ddd7c4
urxvt.color15:               #000000
