[Unit]
Description=Start gnome-keyring for the Secrets Service, and PKCS #11
Before=graphical-session-pre.target

[Service]
Type=simple
StandartError=journal
RemainAfterExit=yes
Restart=on-failure
ExecStart=/bin/sh -ec 'if [ -z "${SSH_AUTH_SOCK}" ]; then \
        export $(eval /usr/bin/gnome-keyring-daemon --foreground --components pkcs11,secrets,ssh); \
        dbus-update-activation-environment --verbose --systemd SSH_AUTH_SOCK=$SSH_AUTH_SOCK SSH_AGENT_LAUNCHER=gnome-keyring; \
    fi'
ExecStopPost=/bin/sh -ec 'if [ "${SSH_AGENT_LAUNCHER}" = gnome-keyring ]; then \
        dbus-update-activation-environment --systemd  SSH_AUTH_SOCK=; \
    fi'

[Install]
WantedBy=graphical-session-pre.target
